.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  overflow-y: auto;
  background: #5e5e6d;
  z-index: 9;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-menu {
    margin: 25px 0;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: #fff;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &.active {

        .sidebar-menu__btn {
          background: $color-violet !important;
        }
      }

      span {
        margin-top: 5px;
      }
    }

    &__btn {
      background: #545463;

      &:hover {
        background: $color-violet !important;
      }
    }
  }
}