.appear-enter-active, .appear-leave-active {
  transition: opacity .3s;
}
.appear-enter, .appear-leave-to {
  opacity: 0;
}

.preloading-enter-active, .preloading-leave-active {
  transition: opacity 1s;

  i {
    transform: scale(1);
    transition: transform .5s;
  }
}
.preloading-enter, .preloading-leave-to {
  opacity: 0;

  i {
    transform: scale(0);
  }
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}