.dashboard {
  position: absolute;
  top: 0;
  left: 150px;
  width: 100%;
  height: 100%;
  padding: 20px 50px 50px 50px;
  background: #ffffff;

  &__inner {
    margin-top: 35px;
    transition: $transition-primary;

    &.horizontal {
      display: flex;
      align-items: flex-start;

      .board {

        .tasks {
          min-height: 80px;
        }
      }
    }

    &.vertical {
      display: flex;
      flex-direction: column;

      .board {

        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media(max-width: 1199px) {

  .dashboard {
    height: inherit;

    &__inner {
      display: flex;
      flex-direction: column;

      .board {
        margin-right: 0 !important;

        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }
}